.container{
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(9, [col-start] 1fr [col-end]) [center-end] 1fr [full-end];
//  grid-template-rows:repeat(3,minmax(2rem, min-content)) 50rem repeat(11,minmax(2rem, min-content));
  grid-template-rows: repeat(15,minmax(2rem, min-content));
  grid-gap: $grid-row-gap;
  position: relative;
  &--full-width{
    @extend %full-width;
    grid-template-rows: auto;
    border-bottom: 1px solid #ddd;

  }
  &--full-width-dark{
    @extend %full-width;
    grid-template-rows: auto;
    background-color: var(--color-primary);
    position: relative;

  }
  &--header-fixed{
    position: sticky;
    top: -1px;
    z-index: 10;
  }
}
